# Dependências
node_modules/
.npm

# Logs
*.log
npm-debug.log*

# Arquivos do sistema
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Ambiente
.env
.env.local

# Build
dist/
build/

# Cache
.cache/
